.header{
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: ;
    color: white;
    justify-content: space-between;
    padding: 20px;
    display: flex;
}
.nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.textimage{
    margin-left: 900px;
}
.quote{
    background-color: grey;
    padding: 50px 100px;
    font-size: 20px;
    color: black;
    align-content: center;
}

.cta button {
  background-color: white;
  color: #3882f6;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}


.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 20px;
